[Unit]
Description=Badem Daemon live network
After=network.target

[Service]
Type=simple
User=bademcurrency
WorkingDirectory=/var/bademcurrency/Badem
ExecStart=/usr/bin/nano_node --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
